.about-section {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-section > img {
  width: 50vw;
  height: 70vh;
  border: 3px solid gray;
  border-radius: 50%;
}

.about-section > p {
  width: 40vw;
  font-size: 22px;
  text-align: center;
  font-weight: 550;
}

.about-section > h2 {
  display: none;
}

@media screen and (max-width: 420px) {
  .about-section {
    height: 100vh;
    box-sizing: border-box;
    display: block;
    align-items: center;
    text-align: center;
  }

  .about-section > img {
    width: 80vw;
    height: 25vh;
    border: 1px solid gray;
  }

  .about-section > h2 {
    padding-bottom: 25px;
    padding-top: 25px;
    display: block;
  }

  .about-section > p {
    font-size: 16px;
    width: 100vw;
    height: 160px;
    text-align: center;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 421px) and (max-width: 560px) {
  .about-section > p {
    font-size: 20px;
  }
}

@media screen and (min-width: 300px) and (max-width: 420px) {
  .about-section > p {
    font-size: 17px;
  }
}

@media screen and (min-width: 375px) and (max-width: 420px) {
  .about-section > p {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .about-section > p {
    font-size: 35px;
  }
}

@media screen and (min-width: 421px) and (max-width: 1200px) {
  .about-section > img {
    position: absolute;
    top: 5;
    left: 0;
    width: 95vw;
    opacity: 0.3;
  }

  .about-section > p {
    z-index: 99;
    color: black;
    width: 80vw;
    font-weight: 800;
  }
}
