.about-section {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-section > img {
  width: 50vw;
  height: 70vh;
  border: 3px solid gray;
  border-radius: 50%;
}

.about-section > p {
  width: 40vw;
  font-size: 22px;
  text-align: center;
  font-weight: 550;
}

.about-section > h2 {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 374px) {
  .about-section {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-section > p {
    font-size: 17px;
    width: 90vw;
  }
  .about-section > h2 {
    display: block;
  }
  .about-section > img {
    height: 150px;
    width: 70vw;
  }
}

@media screen and (min-width: 375px) and (max-width: 420px) {
  .about-section {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-section > p {
    font-size: 17px;
    width: 90vw;
  }
  .about-section > h2 {
    display: block;
  }
  .about-section > img {
    height: 180px;
    width: 70vw;
  }
}
@media screen and (min-width: 421px) and (max-width: 740px) {
  .about-section {
    height: 100vh;
    box-sizing: border-box;
  }
  .about-section > p {
    width: 70vw;
    z-index: 99;
    font-size: 21px;
    font-weight: 600;
  }

  .about-section > img {
    height: 480px;
    width: 90vw;
    position: absolute;
    opacity: 0.3;
  }
}

@media screen and (min-width: 741px) and (max-width: 1024px) {
  .about-section {
    height: 100vh;
    box-sizing: border-box;
  }
  .about-section > img {
    height: 580px;
    width: 85vw;
    position: absolute;
    opacity: 0.3;
  }

  .about-section > p {
    width: 70vw;
    z-index: 99;
    font-size: 26px;
    font-weight: 600;
  }
}
