.wrapper {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--footer-height));
}

.contact-section {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-details {
  display: flex;
}

.contact-details h2 {
  font-weight: 600;
  font-size: 22px;
}

.contact-details img {
  padding: 0 10px 0 10px;
}

.contact-section > input,
textarea {
  background: none;
  border-radius: 10;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  width: 40vw;
  border-bottom: 1px solid black;
}

.textarea {
  height: 100px;
}

.contact-section > input:focus,
textarea:focus {
  /* border-bottom: 1px solid var(--header-color); */
  outline: none;
}

.message {
  margin-top: 15px;
  border: 1px solid lightgray;
  height: auto;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
}

#X {
  font-size: 15px;
  border: transparent;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 1px;
  cursor: pointer;
}

.contact-section > button {
  background: var(--header-color);
  border-radius: 15px;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}

.mail,
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail h2 {
  padding-right: 50px;
}

@media screen and (min-width: 220px) and (max-width: 350px) {
  .contact-details {
    display: block;
  }

  .contact-details img {
    height: 18px;
  }

  .mail h2 {
    padding-right: 0;
    font-size: 16px;
  }
  .phone h2 {
    font-size: 16px;
  }

  .wrapper > img {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .contact-details {
    display: block;
  }

  .mail h2 {
    padding-right: 0;
  }

  .wrapper > img {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .message {
    width: 80vw;
  }
}

/* @media screen and (min-height: 0) and (max-height: 380px) {
  .wrapper {
    padding-top: 100px;
    height: 500px;
  }
}
@media screen and (min-height: 381px) and (max-height: 550px) {
  .wrapper {
    padding-top: 100px;
    height: 500px;
  }
}

@media screen and (min-height: 551px) and (max-height: 650px) {
  .wrapper {
    padding-top: 100px;
    height: 500px;
  }
} */

@media screen and (max-height: 680px) {
  .contact-section {
    height: 600px;
  }
  .wrapper {
    padding-top: 100px;
    height: 500px;
  }
}
