.footer-section {
  height: var(--footer-height);
  width: 100%;
  background-color: var(--footer-color);
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-section > nav > a {
  color: #fff;
  padding-right: 15px;
}
@media screen and (min-width: 250px) and (max-width: 374px) {
  #footer-email {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #phone {
    display: none;
  }
  #name {
    display: none;
  }
}
