.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--header-color);
  flex-wrap: wrap;
}

.logo {
  z-index: 1;
  margin: 0 0 10px 10px;
  font-size: 25px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: none;
  list-style: none;
  height: 60px;
}

.nav-link {
  cursor: pointer;
  border-top: 2px solid var(--header-color);
  padding-bottom: 10px;
}

.active {
  border-top: 2px solid black;
}

/* .nav-links > a:hover {
    border-top: 2px solid black;
  } */

.hamburger {
  display: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 25px;
  cursor: pointer;
}

.hamburger-icon > span {
  width: 100%;
  height: 3px;
  background-color: black;
  transform-origin: left;
  transition: all 0.7s ease;
}

.line1-transform {
  transform: rotate(45deg);
}
.line2-transform {
  opacity: 0;
}
.line3-transform {
  transform: rotate(-45deg);
}

.nav-menu-items li {
  font-size: 20px;
}

.nav-menu-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  padding: none;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-55%, 100%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-menu-items {
    position: fixed;
    top: 45px;
    right: -100%;
    display: block;
    background-color: var(--header-color);
    width: 125px;
    padding: 0;
    border-radius: 10px;
  }

  .nav-menu-items.show {
    right: 0;
    transition: 250ms;
  }

  .logo {
    padding-top: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 900px) and (min-width: 769px) {
  .header h1 {
    display: none;
  }
  .nav-menu-items {
    width: 100vw;
    justify-content: space-evenly;
  }
}
