@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: gray;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: gray;
}

:root {
  --header-color: #f4a261;
  --secondary-color: #f1faee;
}

body {
  font-family: "Padauk", sans-serif;
}

.app {
  height: 100vh;
}
