@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: gray;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: gray;
}

:root {
  --header-color: #f4a261;
  --header-text-color: black;
  --footer-color: #264653;
  --header-height: 75px;
  --footer-height: 65px;
}

body {
  font-family: "Padauk", sans-serif;
}

.active {
  border-top: 2px solid black;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
