@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: gray;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: gray;
}

:root {
  --color1: #f4f3ee;
  --color2: #3d5a80;
  --color3: #98c1d9;
  --color4: #8a817c;
  --color5: #ee6c4d;
}

.home-section {
  height: 100vh;
  background-color: whitesmoke;
}
.about-section {
  height: 100vh;
  background-color: ivory;
}
.education-section {
  height: 100vh;
  background-color: floralwhite;
}
